//
// Variables - Blue Theme
// --------------------------------------------------

$siraj360-01: #F4FCFF;
$siraj360-02: #E6F7FF;
$siraj360-03: #D2F0FF;
$siraj360-04: #C4ECFF;
$siraj360-05: #B9E9FF;
$siraj360-06: #AAE3FF;
$siraj360-07: #9DDFFF;
$siraj360-08: #91DBFF;
$siraj360-09: #7DD5FF;
$siraj360-10: #6FD0FF;
$siraj360-11: #5ECBFF;
$siraj360-12: #4FC6FF;
$siraj360-13: #33BDFF;
$siraj360-14: #04ADFF;
$siraj360-15: #0082BF;
$siraj360-16: #0070A6;
$siraj360-17: #006393;
$siraj360-18: #00557D;
$siraj360-19: #00486A;
$siraj360-20: #003853;

$siraj360-Alert: firebrick;
$box_shadow: #B8B8B8 ;

$light-bg:                 $siraj360-01;
$menu-bg:                  $siraj360-18;
$menu-active-bg:           $siraj360-04;
$menu-caret:               $siraj360-11;
$menu-color:               $siraj360-01;
$dark-color:               $siraj360-18;
$darker-color:             $siraj360-20;
$section-bg:               $siraj360-02;
$carousel-bg:              $siraj360-15;


